:root {
	--primary: #eeeeee;
	--secondary: #ff3f00;
	--tertiary: #8e2657;
}

main {
	position: relative;
	text-align: center;
	padding-top: 50px;
}

.description {
	padding: 0;
	text-align: center;
	font-weight: bold;
	color: var(--tertiary);
}

.habit-modal {
	display: grid;
	place-items: center;
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
	background-color: var(--primary);
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-width: 500px;
}

.modal-content form {
	position: static;
	margin: 0 auto;
	width: 100%;
}

.close-modal {
	position: fixed;
}

.modal-content h1 {
	font-size: 38px;
	margin: 20px 0;
}

.modal-content input,
.modal-content select {
	width: 100%;
	text-align: center;
}

.modal-content input:nth-child(7) {
	width: auto;
}

.hidden {
	display: none;
}

.add-habit {
	margin: 15px 0;
}

.habits-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.habit-card {
	width: 80%;
	max-width: 600px;
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
	padding: 10px;
	border-radius: 20px;
	background-color: #f1ab729a;
}

.habit-view-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
}

.habit-view-container h1 {
	padding-top: 40px;
}

.habit-view-container p {
	padding: 20px 10px;
	text-align: center;
}

.habit-view-container button {
	width: fit-content;
}

#chart1,
#chart2 {
	width: 100%;
}
.return {
	z-index: 100;
	position: fixed;
	top: 2px;
	right: 0;
	margin-top: 0 !important;
	color: var(--secondary);
	background-color: #ffffff00;
	border: #ffffff00;
	padding: 0 10px;
	font-size: 32px;
	font-weight: bold;
	text-transform: capitalize;
}

.habit-view-container button {
	margin: 10px 0;
	z-index: 80;
	flex-basis: 50%;
}
.habit-view-container h2 {
	margin: 20px 0;
}

.streaks-container {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr;
	place-items: center;
	border-top: 1px solid var(--tertiary);
	border-bottom: 1px solid var(--tertiary);
	padding: 10px 0 15px;
	max-width: 95%;
}
.streaks-container p {
	padding: 10px;
}

.streaks-container span {
	font-size: 32px;
}

.infographic-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 80%;
	max-width: 250px;
	margin: 10px auto;
}

.infographic-container div {
	background-color: var(--secondary);
	height: 25px;
	width: 25px;
	border-radius: 50%;
	margin: 0 10px 10px;
	z-index: 10;
}

div.habit-instance-complete {
	background-color: rgb(69, 216, 69);
}

.habit-view-container button:last-child {
	margin: 30px 0;
}

@media only screen and (min-width: 500px) {
	.modal-content input,
	.modal-content select {
		width: 80%;
	}
}
