
h1 {
    position: relative;
    text-align: center;
    margin-top: 40px;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    margin: 20px auto;
}